In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import to_timestamp, trim, lit ,col, concat,count
import json
spark = SparkSession.builder.getOrCreate()

### SQL Spark

Lectura datasets

In [ ]:
#Input Path
input_path = (r"C:\Users\ernes\OneDrive\Escritorio\Carpetas\CSVs\disney_Dataset\disney_movies_total_gross.csv")
#input_path_2 = (r"C:\Users\ernes\OneDrive\Escritorio\Carpetas\CSVs\disney_Dataset\disney-director.csv")

In [ ]:
df = spark.read.options(inferSchema='True', delimiter=',', encoding='UTF-8').csv(input_path,header=True)
#df2 = spark.read.options(inferSchema='True', delimiter=',', encoding='UTF-8').csv(input_path_2,header=True)

In [ ]:
#Dataset Shape
#print((df2.count(), len(df2.columns)))

In [ ]:
#df.show(5,True,vertical=False)

In [ ]:
#nombre del dataset dentro de la consulta de SQL
df_from = 'disney'      
#df_from2 = 'directors'

In [ ]:
#Creamos una vista del dataframe para usar en el FROM
df.createOrReplaceTempView(df_from)
#df2.createOrReplaceTempView(df_from2)

In [ ]:
#Query variable
Query = "select *\
        from disney"

In [ ]:
#Ejecutamos Query y mostramos resultado
df_sql = spark.sql(Query)
df_sql.show(50,truncate = False,vertical=False)

### Script para comparar columnas con PySpark

Leemos dataframe

In [ ]:
#colocar path
input_path = r"C:\Users\ernes\OneDrive\Escritorio\Carpetas\CSVs\disney_Dataset\disney-director.csv"

df = spark.read.options(inferSchema='True', delimiter=',', encoding='UTF-8').csv(input_path,header=True)

df.show(5,True,vertical=False)

In [ ]:
#Comparo dos columnas>>> False:datos distintos
column1="director"
column2="director2"

def compare_two_colums(df,column1,column2):
    """ Compara la col1 contra la col2 y devuelve las columnas que difieren"""
    
    df.select(column1,column2)\
        .filter((col(column1) == col(column2)) == False)\
        .show(10,False)
    print("Cantidad de datos distintos: ",df.count())
    
compare_two_colums(df,column1,column2)